{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="box">
    <h1>Flask Authentication</h1>
    {% if current_user.is_authenticated %}
      <p>You are already logged in as {{ current_user.name }}.</p>
      <a href="{{ url_for('secrets') }}" class="btn btn-primary">Go to Secrets Page</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Login</a>
      <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>
    {% endif %}
  </div>
</div>

{% endblock %}
